# 1. Manipulate using a list.
i) add new element to the end of list
ii) to reverse the element in the list
iii) to display the same list of element multiple times
iv) to concatenate two list
v) To sort the elemnts in the list in ascending order

1.(i) add new element to the end of list

In [1]:
lst = [34,"hello",20]
lst.append(25)
print(lst)

[34, 'hello', 20, 25]

 1.(ii) to reverse the element in the list

In [4]:
lst.reverse()
print(lst)

[25, 20, 'hello', 34]

 1.(iii) to display the same list of element multiple times

In [5]:
lst = [34,"hello",20]
repeated_value = 5*lst
print(repeated_value)

[34, 'hello', 20, 34, 'hello', 20, 34, 'hello', 20, 34, 'hello', 20, 34, 'hello', 20]

 1.(iv) to concatenate two list

In [6]:
list = [34,"hello",20]
list2 = [25,89]
 
for i in list2 :
    list.append(i)
 

print ("Concatenated list: " + str(list))

Concatenated list: [34, 'hello', 20, 25, 89]

1.(v)To sort the elemnts in the list in ascending order

In [9]:
list = [34,12,9,29,10]

list.sort()
print(list)

[9, 10, 12, 29, 34]

# 2.Write a Program to do in tuple.
(i) Manipulate using tuples
(ii) To add new element in the end of the tuples
(iii) To reverse the element in the list
(iv) To display the elements of the same tuples multiple times
(v) To concatenate two tuples
(vi) To sort the elements in asscending order

(i) Manipulate using tuples

In [10]:
color = ("blue","pink","white")
fruit = ("apple","orange","mango")
colorfruit = color + fruit
print(colorfruit)

('blue', 'pink', 'white', 'apple', 'orange', 'mango')

(ii) To add new element in the end of the tuples

In [11]:
tuple=(2,5,8)
tuple_append = tuple + (8, 16, 67)
print(tuple_append)

(2, 5, 8, 8, 16, 67)

(iii) To reverse the element in the list

In [12]:
list = [3,4,5,6,7,8]

print(type(reversed(list)))   #using in built function (reverse)
for i in reversed(list):
    print(i)

<class 'list_reverseiterator'>
8
7
6
5
4
3

(iv) To display the elements of the same tuples multiple times

In [13]:
t_tuple = ("johny", "English")
 
print("The original tuple : " + str(t_tuple))
 
N = 4

# Repeating tuples N times
# using * operator
res = ((t_tuple, ) * N)
 
# printing result
print("The same multiple tuple elements are : " + str(res))

The original tuple : ('johny', 'English')
The same multiple tuple elements are : (('johny', 'English'), ('johny', 'English'), ('johny', 'English'), ('johny', 'English'))

(v) To concatenate two tuples

In [14]:
tuple = (6,21,9)
tuple1 = (5,61)
print("The original tuple 1 : " + str(tuple))
print("The original tuple 2 : " + str(tuple1))
 
result = tuple + tuple1

print("The tuple after concatenation is : " + str(result))

The original tuple 1 : (6, 21, 9)
The original tuple 2 : (5, 61)
The tuple after concatenation is : (6, 21, 9, 5, 61)

(vi) To sort the elements in asscending order

In [16]:
t_tuple = (5, 2, 24, 3, 1, 6, 7)  
sorted_ = tuple(sorted(t_tuple))  
print('Sorted Tuple :', sorted_)  
print(type(sorted_))

TypeError: 'tuple' object is not callable

# 3. Write a python program to implement the following using list
I . Create a list with integer(minimum 10 numbers)

II. How to display the last elements in the list

III. Command to dsiplay the values from the list [0:4]

IV. Command to dsiplay the values from the list [2:]

V. Command to dsiplay the values from the list [0:6]

Create a list with integer(minimum 10 numbers)

In [17]:
def createList(l1, l2):
    return [item for item in range(l1, l2+1)]
l1, l2 = 10, 21
print(createList(l1, l2))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

How to display the last elements in the list

In [20]:
list = [3,8,4,1,6,9,0,4]
print("Input list:", list)
lastElement = list[-1:][0]
print("Last element of the input list = ", lastElement)

Input list: [3, 8, 4, 1, 6, 9, 0, 4]
Last element of the input list =  4

 Command to dsiplay the values from the list [0:4]

In [21]:
list = [3,8,4,1,6,9,0,4]
print("Input list:", list)
Element = list[0:4]
print("Display Value = ", Element)

Input list: [3, 8, 4, 1, 6, 9, 0, 4]
Display Value =  [3, 8, 4, 1]

Command to dsiplay the values from the list [0:6]

In [22]:

print("Input list:", list)
Element = list[0:6]
print("Display Value = ", Element)

Input list: [3, 8, 4, 1, 6, 9, 0, 4]
Display Value =  [3, 8, 4, 1, 6, 9]

Command to dsiplay the values from the list [2:]

In [23]:
print("Input list:", list)
Element = list[2:]
print("Display Value = ", Element)

Input list: [3, 8, 4, 1, 6, 9, 0, 4]
Display Value =  [4, 1, 6, 9, 0, 4]

# 4.Write a python program: tuple1=(10,50,20,40,30)
I. To display element 10 and 50 from tuple1
II.	To display the length of a tuple1
III.To find the minimum element from tuple
Iv.	To add all elements In the tuplel.
v.	To display the Same tuple multiple times.

I. To display element 10 and 50 from tuple1

In [25]:
tuple1 = (10,50,20,40,30)  
print(tuple1)

(10, 50, 20, 40, 30)

II. To display the length of a tuple1

In [26]:
 print(len(tuple1))

5

III.To find the minimum element from tuple

In [19]:
tuple1 = [10,50,20,40,30]  
print("Minimum element is:", min(tuple1))

Minimum element is: 10

Iv. To add all elements In the tuplel.

In [20]:
tuple1= [10,50,20,40,30]
Sum = sum(tuple1)  
print(Sum)

150

v. To display the Same tuple multiple times.

In [27]:
tuple1 = [10,50,20,40,30] 
print("The original tuple : " + str(tuple1))
N = 4
res = ((tuple1, ) * N)
print("The same tuple elements are : " + str(res))

The original tuple : [10, 50, 20, 40, 30]
The same tuple elements are : ([10, 50, 20, 40, 30], [10, 50, 20, 40, 30], [10, 50, 20, 40, 30], [10, 50, 20, 40, 30])

# 5.Write a Python program

I.To calculate the length of a string

II.	To reverse words In a string

III.To display the same string multiple times 

IV.	To concatenate two strings

v.	Str1=H South India",using string slicing to display "India"

I.To calculate the length of a string

In [28]:
counter = 0
for c in "Relational":
    counter+=1 
print (counter)

10

II. To reverse words In a string

In [30]:
s = input("Enter any string: ")
x = s.split()
x.reverse()
print(' '.join(x))

Enter any string: abcd
abcd

III. To display the same string multiple times

In [31]:
saying = 'Relational database!\t'
print(saying * 4)

Relational database!	Relational database!	Relational database!	Relational database!

IV.To concatenate two strings

In [32]:
str1="Hello"
str2="World"
print ("String 1:",str1)
print ("String 2:",str2)
str=str1+str2
print("Concatenated two strings:",str)

String 1: Hello
String 2: World
Concatenated two strings: HelloWorld

V. Str1=H South India",using string slicing to display "India"

In [33]:
Str1= 'H South India'
print(Str1[7:])

 India

# 6Perform the following:
I)Creating the Dictionary

II)	Accessing values and keys In the Dictionary.

III)Updating the dictionary using a function

IV)	Clear and delete the dictionary values

Creating the Dictionary

In [34]:
Dict = {11: 'Johny', 22: 'english', 33: 'Bob'}
print(Dict)

{11: 'Johny', 22: 'english', 33: 'Bob'}

Accessing values and keys In the Dictionary.

In [35]:
dict = {11:'jan',22:'feb',33:'march',44:'april'}
print("Given Dictionary: ",dict)
print("Keys and Values: ")
for i in dict :
   print(i, dict[i])

Given Dictionary:  {11: 'jan', 22: 'feb', 33: 'march', 44: 'april'}
Keys and Values:
11 jan
22 feb
33 march
44 april

Updating the dictionary using a function

In [36]:
Jeep = { "brand": "Mahindra", "model": "scorpio", "year": 2010 }

Jeep.update({"color": "Black"})

print(Jeep)

{'brand': 'Mahindra', 'model': 'scorpio', 'year': 2010, 'color': 'Black'}

Clear and delete the dictionary values

In [37]:
dict = {11: 'Johny', 22: 'english', 33: 'Bob'}

dict.clear()    #clear the values
print(dict)

{}

In [38]:
dict = {'k1': 1, 'k2': 2, 'k3': 3}

del dict['k2']
print(dict)

{'k1': 1, 'k3': 3}

# 7. Python program to insert a number to any position in a list

In [39]:
def Positon(Num,Position):                    
    list=[77,23,89,101,34]
    list[Position-1]=Num                         
    return list
Positon(69,4)

[77, 23, 89, 69, 34]

# 8 Python program to delete an element from a list by index

In [40]:
list = ["Johny", "english", "Bob", "Peter"]
givenIndex = 3
del list[givenIndex]
print("List after deleting specified list item:", list)

List after deleting specified list item: ['Johny', 'english', 'Bob']

#  9. Write a program to display a no from 1 to 100

In [41]:
n = int(input('Enter a number : '))
i = 1
while i <= n:
    print(i, end=" ")
    i+=1

Enter a number : 6
1 2 3 4 5 6

# 10. Write a Python program to find the sum of all items in a tuple

In [43]:
tuple = (10,30,50,70,78)
print("Tuple Items = ", tuple)

Sum = sum(tuple)
print("\nThe Sum of Tuple Items = ", Sum)

Tuple Items =  (10, 30, 50, 70, 78)

The Sum of Tuple Items =  238

# Control Structure

1. Write a python program to find the first N Prime no:

In [44]:
from math import sqrt
 
num = int(input("Enter a number: "))
count = 0
n = 2
 
print("First", num, "prime numbers are: ")
while count < num:
    
    prime_flag = True
     
    for i in range(2, int(sqrt(n)) + 1):
        if (n % i) == 0:
            prime_flag = False
            break
     
    if prime_flag:
        print(n, end =" ")
        count = count + 1
    n = n + 1

Enter a number: 8
First 8 prime numbers are:
2 3 5 7 11 13 17 19

2.write a python code to calculate the salary of employee from the user to enter basic salary hra ta and da at this component to calculate gross salary also deduct 10% of salary from gros salary to be paid as tax in display gross minus tax as net salary

In [2]:
def computeSalary( basic, grade):
     
    hra = 0.2 * basic
    da = 0.5 * basic
    ta = 0.1 * basic
     
    if grade == 'A':
        allowance = 1700.0
    elif grade == 'B':
        allowance = 1500.0
    else:
        allowance = 1300.0;
     
    gross = round(basic + hra + da +
                    allowance - ta)
                     
    return gross
 
if __name__ == '__main__':
     
    basic = 10000
    grade = 'A'

    print(computeSalary(basic, grade))

17700

3. Write a python program to search for a stringh in the given list

In [45]:
list = [3,5,"hello",67]

s = 'hello' 
 
if s in list:
    print(f'{s} is present in the list')
else:
    print(f'{s} is not present in the list')

hello is present in the list

4. Write python function that accept a string and calculate the numberof upper case letter and lower case letter

In [42]:
def string_test(s):
    d={"UPPER_CASE":0, "LOWER_CASE":0}
    for c in s:
        if c.isupper():
           d["UPPER_CASE"]+=1
        elif c.islower():
           d["LOWER_CASE"]+=1
        else:
           pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", d["UPPER_CASE"])
    print ("No. of Lower case Characters : ", d["LOWER_CASE"])

string_test('The quick Brown Fox')

Original String :  The quick Brown Fox
No. of Upper case characters :  3
No. of Lower case Characters :  13

5. Write a program to display the sum of odd numberand even numbers that fall between 12 and 37

In [46]:
min = int(input(" Please Enter the Minimum Value : ")) 
max = int(input(" Please Enter the Maximum Value : "))

even_total = 0
odd_total = 0
 
for number in range(min, max + 1):
    if(number % 2 == 0):
        even_total = even_total + number
    else:
        odd_total = odd_total + number
 
print("The Sum of Even Numbers from 12 to {0} = {1}".format(number, even_total))
print("The Sum of Odd Numbers from 12 to {0} = {1}".format(number, odd_total))

 Please Enter the Minimum Value : 7
 Please Enter the Maximum Value : 9
The Sum of Even Numbers from 12 to 9 = 8
The Sum of Odd Numbers from 12 to 9 = 16

6. WAP to print thetable of any number

In [44]:
number = int(input ("Enter the number of which the user wants to print the multiplication table: "))             
print ("The Multiplication Table of: ", number)    
for count in range(1, 11):      
   print (number, 'x', count, '=', number * count)

Enter the number of which the user wants to print the multiplication table: 3
The Multiplication Table of:  3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

7. Write a python program to sum the first 10 prime number

In [45]:
last_number = int(input("\nPlease enter the last number up till which sum of prime number is to be found:"))
print ("We will find the sum of prime numbers in python upto", last_number)
sum = 0
for number in range(2, last_number + 1):
    i = 2
    for i in range(2, number):
        if (int(number % i) == 0):
            i = number
            break;
    if i is not number:
        sum = sum + number
print("\nThe sum of prime numbers in python from 1 to ", last_number, " is :", sum)

Please enter the last number up till which sum of prime number is to be found:10
We will find the sum of prime numbers in python upto 10

The sum of prime numbers in python from 1 to  10  is : 15

8. Write a python program to implement arthemetic operations using nested if statement

In [46]:
choice = int(input("Enter your choice:n"))
print("Enter two numbers: ")
num1 = int(input())
num2 = int(input())
if choice == 1: 
  res = num1 + num2
  print("Result = ", res)

if choice == 2: 
  res = num1 - num2
  print("Result = ", res)

if choice == 3: 
  res = num1 * num2
  print("Result = ", res)

if choice == 4: 
  res = num1 / num2
  print("Result = ", res)

if choice == 5:
    exit()
else:
    print("Wrong input")

Enter your choice:n3
Enter two numbers:
4
5
Result =  20
Wrong input

9. Write a python program to take temperature in celsius and convert into fahrenheit

In [47]:
celsius = int(input("Enter the Temperature in Celsius :\n"))
fahrenheit = (1.8 * celsius) + 32
print("Temperature in Fahrenheit :", fahrenheit)

Enter the Temperature in Celsius :
68
Temperature in Fahrenheit : 154.4

10.Write a python program to find a maximum and minimum number in a list without using an inbuilt function

In [48]:
def max_min(data):
  l = data[0]
  s = data[0]
  for num in data:
    if num> l:
      l = num
    elif num< s:
        s = num
  return l, s

print(max_min([0, 10, 15, 40, -5, 42, 17, 28, 75]))

(75, -5)

11. Write a program to print out the number of seconds in 30 days, 24 hrs in a day, 60 min per day, 60 sec in a minute

In [49]:
def seconds_per_day(days):
    hours = days * 24
    minutes = hours * 60
    seconds = minutes * 60
    return seconds
print(seconds_per_day(30))

2592000

12. Write a program in python to print out the no of seconds in a year

In [50]:
days=365
hours=24
minutes=60
seconds=60
print("Number of seconds in a year : ",days*hours*minutes*seconds)

Number of seconds in a year :  31536000

13.a high speed train can travel at an average speed of 150 mph how long will it take a train travelling at his at the speed to travel from london to glasgow for which is 414 miles away

In [51]:
speed = 150
distane = 414
print("it take a train travelling at his at the speed to travel from london to glasgow = ", (414/150*60))

it take a train travelling at his at the speed to travel from london to glasgow =  165.6

15. if the age of Ram Shyam and Khan are input through the keyboard write a Python program to determine the eldest and youngest of the three

In [52]:
age1 = int(input("Enter the Age of Ram :"))
age2 = int(input("Enter the Age of Shyam :"))
age3 = int(input("Enter the Age of Khan :"))
if(age1<age2 and age1<age3):
    print("The Youngest Age is Ram")
elif(age2<age1 and age2<age3):
    print("The Youngest Age is Shyam")
else:
    print("The Youngest Age is Khan")

Enter the Age of Ram :12
Enter the Age of Shyam :15
Enter the Age of Khan :54
The Youngest Age is Ram

16. write a Python program to rotate a list by right n times with and without using slicing technique

In [53]:
myList =[5, 20, 34, 67, 89, 94, 98, 110]
print("List before rotation = ",myList)
n = 4
# Rotating the List by slicing
myList = (myList[len(myList) - n:len(myList)] + myList[0:len(myList) - n])
print("Updated List after rotation = ",myList)

List before rotation =  [5, 20, 34, 67, 89, 94, 98, 110]
Updated List after rotation =  [89, 94, 98, 110, 5, 20, 34, 67]

In [54]:
def rightRotate(lists, num):
    output_list = []
 
    
    for item in range(len(lists) - num, len(lists)):
        output_list.append(lists[item])

    for item in range(0, len(lists) - num):
        output_list.append(lists[item])
 
    return output_list
 #without using slicing
rotate_num = 3
list_1 = [1, 2, 3, 4, 5, 6]
 
print(rightRotate(list_1, rotate_num))

[4, 5, 6, 1, 2, 3]

17. Python program to print pattern

1 
1 1 
1 2 1 
1 3 3 1 
1 4 6 4 1 
1 5 10 10 5 1 
1 6 15 20 15 6 1

In [55]:
def print_triangle(size):
    for i in range(0, size):
        for j in range(0, i + 1):
            print(decide_number(i, j), end=" ")
        print()


def decide_number(n, k):
    num = 1
    if k > n - k:
        k = n - k
    for i in range(0, k):
        num = num * (n - i)
        num = num // (i + 1)
    return num

# set rows
rows = 7
print_triangle(rows)

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

*
**
***
****
*****

In [56]:
# number of rows
rows = 5
for i in range(0, rows):
    # nested loop for each column
    for j in range(0, i + 1):
        # print star
        print("*", end=' ')
    # new line after each row
    print("\r")

*
* *
* * *
* * * *
* * * * *

In [57]:
print("Print equilateral triangle ")
size = 7
m = (2 * size) - 2
for i in range(0, size):
    for j in range(0, m):
        print(end=" ")
   
    m = m - 1
    for j in range(0, i + 1):
        print("* ", end=' ')
    print(" ")

Print equilateral triangle
            *
           *  *
          *  *  *
         *  *  *  *
        *  *  *  *  *
       *  *  *  *  *  *
      *  *  *  *  *  *  *

P

Py

Pyt

Pyth

Pytho

Python

In [48]:
word = "Relational"
x = ""
for i in word:
    x += i
    print(x)

R
Re
Rel
Rela
Relat
Relati
Relatio
Relation
Relationa
Relational